*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    margin: 5rem;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figure {
    height: 15rem;
    width: 15rem;
}



.shop__item figure{
    height: 20rem;
    box-shadow: 1px -1px 5px #8C8987;
}

.gypsy__item__category{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 5rem;
}

.shop__item figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shop__item__description>*{
    margin-top: 1rem;
}

.shop__item__description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.shop__item__description span{
    align-self: flex-end;
}


.title__subcategory{
    display: inline;
   margin-left: 43%;
}

